


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolg application</title>



<!-- gooogle fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin="crossorigin">
<link
    href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap"
    rel="stylesheet">
<!-- bootstrap -->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">

<!-- font awsome -->
<script src="https://kit.fontawesome.com/33c005a0aa.js" crossorigin="anonymous"></script>

    <!-- including javaScript -->
    <script>
      function testing() {
        document.write("hello ji i am your java script");
      }
    </script>
<!--LINKING CSS -->
    <style>
    * {
      padding: 0;
      margin: 0;
    }
    
    body {
      align-items: center;
      
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      height: 100vh;
    }
    .intro {
      text-shadow: 5px;
      font-weight: 600;
      color: aquamarine;
      align-items: center;
      text-decoration: dotted;
      text-align: center;
      padding-top: 50px;
    }
    .container
    {
     
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
    }
    .card {
      padding: 50px;
      /* width: auto; */
      /* height: auto */
      align-items: center;
      text-align: center;
      justify-content: center;
      max-width: 30rem;
      display:flex;
    }
    
    form {
      text-align: center;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    </style>


  </head>
  <body>
    <header>
      <h1 class="intro">Welcome to the blog application</h1>
<hr>
<div class="container">
<div class="card text-bg-light mb-3  ">


<%# <form action="">
<label for="UserName"> User Name : <i class="fa-solid fa-user"></i></label>
<input type="text" placeholder="Enter your userID"> 
<br><br>
<label for="password">Password : <i class="fa-solid fa-key"></i></label>
<input type="password" placeholder="Enter your password"> 
<br><br>
<button id="submitme" class="btn btn-outline-dark btn-lg d-grid gap-2 col-6 mx-auto">Submit</button>

</form> %>
<h1></h1>
<button class="btn btn-lg btn-outline-info "><i class="fa-solid fa-blog"></i>
<%= link_to "Get Started", posts_path %>
</button>

</div>
</div>
    </header>
  </body>
</html>